.adminButtonsContainer{
    border-radius: 3px;
    background-color:#183D3D;
    border: 2px solid white;
    padding: 10px ;
    text-align: center;
    font-size: 30px;
    margin: auto;
    width: 400px
}
.adminButtons{
    margin:20px;
    background-color:#414747;
    color:white

}


