  footer {
    margin-top: 30%;
    background-color:#424769; 
    color: white;
    text-align: center;
    padding-top: 10px;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .social-icons {
    display: flex;
    align-items: center; 
  }
  
  .social-icons div {
    margin-right: 20px; /* Ajusta el margen entre los iconos según tus necesidades */
  }
  .fa-facebook:hover {
    color: rgb(0, 110, 255);
  }
  .fa-twitter:hover {
    color: rgb(86, 154, 243);
  }
  .fa-instagram:hover {
    color: rgb(255, 0, 191);
  }
  .fa-github:hover {
    color: rgb(255, 123, 0);
  }