body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex: 1;
  }
  
  footer {
    margin-top:30%;
    background-color:#183D3D; 
    color: white;
    text-align: center;
    padding-top: 10px;
  
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    
  }
  .social-icons {
    display: flex;
    align-items: center; 
  }
  
  .social-icons div {
    margin-right: 20px; /* Ajusta el margen entre los iconos según tus necesidades */
  }
  