body {
  background: rgb(59,57,57);
  background: linear-gradient(304deg, rgba(59,57,57,1) 4%, rgba(0,0,0,1) 73%);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  color: white;
}
.homeBody{
  /* padding-top: -20px; */

}
.firstLanding{
  padding-top: 200px;
  margin-top: 60px;
}

.toolButton {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #fefefe;
    text-transform: uppercase;
    color: #fefefe;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    transition: 0.3s;
  }
  
  .toolButton::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - -2px);
    background-color: #00000000;
    transition: 0.3s ease-out;
    transform: scaleY(1);
  }
  
  .toolButton::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 50px);
    background-color: #000000;
    transition: 0.3s ease-out;
    transform: scaleY(1);
  }
  
  .toolButton:hover::before {
    transform: translateY(-25px);
    height: 0;
  }
  
  .toolButton:hover::after {
    transform: scaleX(0);
    transition-delay: 0.15s;
  }
  
  .toolButton:hover {
    border: 2px solid #fefefe;
  }
  
  .toolButton span {
    position: relative;
    z-index: 3;
  }
  
  .toolButton {
    text-decoration: none;
    border: none;
    background-color: #000000;
  }

  .borderRecomendation {
    border: none !important;
    background-color: rgba(0, 0, 0, 0) !important;
  }