
button{
    border-radius: 3px;
    background-color:#183D3D;
    color: white;
    border: 2px solid #183D3D;
    padding: 10px ;
    text-align: center;
    font-size: 16px;
    margin-right: 10px;
    
}
.Logo200 {
  margin: 100px;
  }

 .Login{
    margin: 200px;
 }

   
