.moviesUserContainer{
  padding-top: 60px;
}

.rounded-image {
    border-radius: 20px;

  }


/* efecto cardPosterPoster abajo */

.cardPoster {
  width: fit-content;
  height: fit-content;
  background-color: #ff000000;
  font-size: 16px;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

.posterImage{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: none;
  border-bottom-right-radius: none;
}


.cardPoster .title {
  width: 100%;
  text-align: center;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
  z-index: 3;
}

.cardPoster .text {
  width: 100%;
  margin: 0 auto;
  font-size: 13px;
  text-align: center;
  font-weight: 200;
  letter-spacing: 2px;
  opacity: 0;
  max-height: 0;
  transition: all 0.3s ease;
  color: white;
}

.cardPoster:hover {
  width: 250px;
  height: 300px;
  height: fit-content;
  z-index: 2;
}
.cardPoster:hover .text {
  transition: all 0.3s ease;
  opacity: 1;
  width: 250px;
  max-height: 60px;
  text-align: center;
  z-index: 1;

}
.posterInfo{
  /* border-color: white; */
  background-color: rgb(24, 23, 23);
  margin-top: -150px;
  /* margin-left: -100px; */

}

.iconIMDB{
  font-size: 40px;
}
.ratingNumber{
  position: absolute;
  padding: 10px;
}



