
.fullMovieDetail {
  padding-top: 80px;
}
.addToWatchList {
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #34974d;
    background-color: #3aa856;
  }
  
  .addToWatchList, .addToWatchList, .addToWatchList {
    transition: all 0.3s;
  }
  
  .addToWatchList .addToWatchList__text {
    transform: translateX(30px);
    color: #fff;
    font-weight: 600;
  }
  
  .addToWatchList .addToWatchList__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: #34974d;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .addToWatchList .svg {
    width: 30px;
    stroke: #fff;
  }
  
  .addToWatchList:hover {
    background: #34974d;
  }
  
  .addToWatchList:hover .addToWatchList__text {
    color: transparent;
  }
  
  .addToWatchList:hover .addToWatchList__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .addToWatchList:active .addToWatchList__icon {
    background-color: #2e8644;
  }
  
  .addToWatchList:active {
    border: 1px solid #2e8644;
  }