
.navbar {
    align-items: center; 
    height: 60px; 
    background-color:#2D3250; 
    padding-left: 64px;
    padding-right: 64px;
    margin-bottom: 20px;
    font-size: x-large;
    color: white;
    transition: all 0.5s;
  }

 .logButton{
  border: white;
  border-width: 1px;
 } 
 .dropdownButton{
  color: white;
  }
 .dropdownButton:hover{
  color: #F6B17A;
  background-color: black;
 }

 .navButton{
  color: white
 }

 .navButton:hover{
  color: #F6B17A;
 }

 .navbar.sticky {
  background-color: rgba(143, 143, 143, 0);
  }

  .navbarMyWatchlistButton:hover{
    color: #F6B17A !important;
  }