
nav {
    /* display: flex; */
    align-items: center; /* Centra los elementos verticalmente */
    height: 60px; /* Ajusta la altura según tus necesidades */
    background-color:#2D3250; /* Ajusta el color de fondo según tus necesidades */
    padding-left: 64px;
    padding-right: 64px;
    font-size: x-large;
    color: white;
    /* font-family: 'BankGothic'; */
  }
  /* @font-face {
    font-family: 'BankGothic';
    src: url('../src/front/styles/Fonts/BankGothicBT-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  } */

 .navButton:hover{
  color: #F6B17A;
 }