* {
  margin: 0;
  padding: 0;
}

html {
    height: 100%;
}

#grad1 {
    background-color: #000000;
};

.fit-image{
    width: 100%;
    object-fit: cover;
}


  .onBoardingButton {
    width: 70%;
    display: block;
    margin: 3% auto;
    border:none;
  }

  .movie-container {
    height: 70%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .movie-poster {
    width: 90%;
  }

  .onBoardingButton {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
   }
   
   .onBoardingButton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #7077A1;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 650ms
   }
   
   .onBoardingButton:hover {
    color: #e8e8e8;
   }
   
   .onBoardingButton:hover::before {
    width: 100%;
   }

   .fieldsetMovie {
    background-color: #232D3F !important;
   }

   .infoMovie {
    color: rgb(227, 227, 227) !important;   }

    .presentation {
        color: white !important;
        margin-left: 20%;
        margin-right: 20%;
    }

    .movieCard {
        background-color: #232D3F !important;
    }

    .movieRecomendationH2 {
        background-color: #232D3F;
        margin-inline-start: 20%;
        margin-inline-end: 20%;

    }



    .previous {
      padding: 15px 25px;
      border: unset;
      border-radius: 15px;
      color: #212121;
      z-index: 1;
      background: #e8e8e8;
      position: relative;
      font-weight: 1000;
      font-size: 17px;
      -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
      box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
      transition: all 250ms;
      overflow: hidden;
      margin-bottom: 5%;
     }
     
     .previous:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0;
      border-radius: 15px;
      background-color: #70c37f;
      z-index: -1;
      -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
      box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
      transition: all 650ms
     }
     
     .previous:hover {
      color: #f10606;
     }
     
     .previous:hover:before {
      width: 100%;
     }


     .previous {
      padding: 15px 25px;
      border: unset;
      border-radius: 15px;
      color: #212121;
      z-index: 1;
      background: #e8e8e8;
      position: relative;
      font-weight: 1000;
      font-size: 17px;
      -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
      box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
      transition: all 250ms;
      overflow: hidden;
     }
     
     .previous::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0;
      border-radius: 15px;
      background-color: #05fe32;
      z-index: -1;
      -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
      box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
      transition: all 650ms
     }
     
     .previous:hover {
      color: #232D3F;
     }
     
     .previous:hover::before {
      width: 100%;
     }

.loaderBars {
  width: 105px;
  height: 80px;
  --g1:conic-gradient(from  90deg at left   3px top   3px,#0000 90deg,#fff 0);
  --g2:conic-gradient(from -90deg at bottom 3px right 3px,#0000 90deg,#fff 0);
  background:var(--g1),var(--g1),var(--g1), var(--g2),var(--g2),var(--g2);
  background-position: left,center,right;
  background-repeat: no-repeat;
  animation: l9 1s infinite;
  margin-bottom: 10%;
  margin-top: 5%;
}
@keyframes l9 {
  0%   {background-size:25px 50% ,25px 50% ,25px 50%}
  25%  {background-size:25px 100%,25px 50% ,25px 50%}
  50%  {background-size:25px 50% ,25px 100%,25px 50%}
  75%  {background-size:25px 50% ,25px 50% ,25px 100%}
  100% {background-size:25px 50% ,25px 50% ,25px 50%}
}

.h2ChatGptLoading{
  color: white;
}