body {
    padding-top: 60px;
}

.deleteButton{
    border-radius: 100%;
    margin-right: 18%;
    background-color: rgba(163, 12, 12, 0.336);
    border: none;
}

.col-md-3 {
    width: 16.6667%;
}

.posterWatchlistUser{
    box-shadow: 0px 2px 38px rgb(40, 40, 40);
    width: 120px !important;
    margin-top:10%;
}

.deleteButton:hover{
    background-color: rgb(107, 12, 12) !important;
}